node_modules
npm-debug.log
src/app/**/*.js
src/app/**/*.js.map
.idea/.name
.idea/jsLibraryMappings.xml
.idea/libraries/trading_attacl_1_node_modules.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
angularattack2016-kntrading.iml
app/app.component.html
app/app.component.js
app/app.component.js.map
app/app.component.ts
app/watchlist/mock-watchlist.ts.orig
app/watchlist/mock-watchlists.js
app/watchlist/mock-watchlists.js.map
app/watchlist/wahtchlist.service.js
app/watchlist/wahtchlist.service.js.map
app/watchlist/watchlist.component.html
app/watchlist/watchlist.component.ts.orig
npm-debug.log.112204777
npm-debug.log.3213671242
npm-debug.log.3308649335
trading-attacl-1.iml
