@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,600,400italic,700,900);

body {
    font-family: 'Source Sans Pro', sans-serif !important;
    color: #fff;
    background-color: #1a252d;
}

/*NAVBAR*/
.navbar-default {
    border-top: 2px solid #00d96e;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    border-radius: 0;
    background-color: rgba(54, 71, 79, 0.8);
    box-shadow: 0 0 5px 1px #000;
    margin-bottom: 0;
}
a {
    outline: 0;
}
.navbar-default .container-fluid {
    padding-right: 0;
}
.add-new {
    background-color: #00d96e;
    transition: all ease 0.6s;
    cursor: pointer;
}
.add-new a {
    font-size: 20px;
    color: #fff;
}
.add-new:hover {
    background-color: #536d7a;
}
.navbar-brand {
    color: #00d96e !important;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif !important;
    transition: all ease 0.5s;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li.active>a{
    color: #00d96e;
    background-color: transparent;
    
}
/*NAVBAR*/

/*BUTTONS*/
.btu:focus {
    outline: 0;
    text-decoration: none;
}
a:focus, a:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
}
.btn-medium {
    width: 120px;
}
.btn {
    border-radius: 25px;
    outline: 0;
}
.btn-green {
    background-color: #00d96e;
    color: #fff;
    transition: all ease 0.5s;
}
.btn-green:hover {
    background-color: #00b55d;
    color: #fff;
}
.btn-gray {
    background-color: #ebedec;
    color: #536d7a;
    transition: all ease 0.5s;
}
.btn-gray:hover {
    background-color: #536d7a;
    color: #fff;
}
.btn-circle {
    border-radius: 25px;
    padding: 10px;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.add {
    color: #fff;
    border: 1px solid #00d96e;
    padding: 7px 14px 10px 0;
    border-radius: 25px;
    transition: all ease 0.5s;
}
.add:hover {
    text-decoration: none;
    background-color: #00b55d;
    color: #fff
}
.add:hover > .btn-green {
    background-color: #00b55d;
}
.acti-btn {
    margin-left: 5px;
    font-size: 15px;
}
.acti-btn:hover .fa-trash-o {
    color: #b71b1c;
}
.acti-btn:hover .fa-pencil-square-o {
    color: #1c89e6;
}
button.acti-btn, .btn-non-bg {
    background-color: transparent;
    border: 0;
}
.fa-trash-o {
    color: #FF0000;
}
.fa-trash-o:hover {
    color: #b71b1c;
}
/*BUTTONS*/

/*COLORS*/
.blue {
    color: #03a9f5;
}
.blue-dark {
    color: #1c89e6;
}
.green {
    color: #00d96e;
}
.green-dark {
    color: #00b55d;
}
.red {
    color: #FF0000;
}
.red-dark {
    color: #b71b1c;
}
.gray-light {
    color: #ebedec;
}
.gray {
    color: #536d7a;
}
.gray-dark {
    color: #1a252d;
}
/*COLORS*/

/*TEXT STYLE*/
.uppercase {
    text-transform: uppercase;
}
/*TEXT STYLE*/

/*MARGINS*/
.m-t-10 {
    margin-top: 10px;
}
.m-t-15 {
    margin-top: 15px;
}
.m-t-20 {
    margin-top: 20px;
}
.m-t-30 {
    margin-top: 30px;
}

.m-b-10 {
    margin-bottom: 10px;
}
.m-b-15 {
    margin-bottom: 15px;
}
.m-b-20 {
    margin-bottom: 20px;
}
.m-b-30 {
    margin-bottom: 30px;
}

.p-t-10 {
    padding-top: 10px;
}
.p-l-5 {
    padding-left: 5px;
}
/*MARGINS*/


/*Tables*/
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #25323C;
}
thead {
/*    background-color: #25323C;*/
    border-top: 2px solid #00d96e;
/*
    box-shadow: 0 1px 4px 1px #000;
    -moz-box-shadow:  0 1px 4px 1px #000;
    -webkit-box-shadow: 0 1px 4px 1px #000;
*/
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-color: #536d7a;
}
.table>thead>tr>th {
    border-color: 2px solid #00d96e !important;
}
/*Tables*/

/*MODALS*/
/*
.modal-content {
    background-color: #25323C;
}
.close:focus, .close:hover {
    color: #fff;
}
*/
.modal-content h4, .modal-content label {
    color: #536d7a;
    font-weight: normal;
}
.close:focus, .close:hover {
    color: #fff;
}
/*MODALS*/