@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,600,400italic,700,900);

body {
    font-family: 'Source Sans Pro', sans-serif !important;
    color: #1a252d;
}

/*NAVBAR*/
.navbar-default {
    border-top: 2px solid #1a252d;
    border-bottom: 0;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px 1px #ccc;
}
.navbar-default .container-fluid {
    padding-right: 0;
}
.add-new {
    background-color: #00d96e;
    transition: all ease 0.6s;
}
.add-new a {
    font-size: 20px;
    color: #fff;
}
.add-new:hover {
    background-color: #1a252d;
}
.navbar-brand {
    color: #00d96e !important;
}
.navbar-default .navbar-nav>li>a {
    color: #1a252d;
    font-family: 'Source Sans Pro', sans-serif !important;
    transition: all ease 0.5s;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li.active>a{
    color: #00d96e;
    background-color: transparent;
    
}
/*NAVBAR*/

/*BUTTONS*/
.btn-green {
    background-color: #00d96e;
    color: #fff;
    transition: all ease 0.5s;
}
.btn-green:hover {
    background-color: #00b55d;
    color: #fff;
}
.btn-circle {
    border-radius: 25px;
    padding: 10px;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.add {
    color: #1a252d;
    border: 1px solid #00d96e;
    padding: 7px 14px 10px 0;
    border-radius: 25px;
    transition: all ease 0.5s;
}
.add:hover {
    text-decoration: none;
    background-color: #00b55d;
    color: #fff
}
.add:hover > .btn-green {
    background-color: #00b55d;
}
.acti-btn {
    margin-left: 5px;
    font-size: 15px;
}
/*BUTTONS*/

/*COLORS*/
.green {
    color: #00d96e;
}
.green-dark, .green:hover {
    color: #00b55d;
}
.red {
    color: #c7292a;
}
.red-dark, .red:hover {
    color: #b71b1c;
}
.gray {
    color: #536d7a;
}
.gray-dark, .gray:hover {
    color: #1a252d;
}
/*COLORS*/

/*MARGINS*/
.m-t-10 {
    margin-top: 10px;
}
.m-t-15 {
    margin-top: 15px;
}
.m-t-20 {
    margin-top: 20px;
}
.m-t-30 {
    margin-top: 30px;
}

.m-b-10 {
    margin-bottom: 10px;
}
.m-b-15 {
    margin-bottom: 15px;
}
.m-b-20 {
    margin-bottom: 20px;
}
.m-b-30 {
    margin-bottom: 30px;
}
/*MARGINS*/
