
  <div class="row">
      <div class="container-flex">
        <div *ngFor="let symbol of symbolsList  | orderBy : ['-changePercent'] ; let i = index" class="heatMapBox"  [ngStyle]="{'min-height':boxHeight + 'px','height':boxHeight + 'px','width':boxWidth +'px','min-wdith':boxWidth +'px','background-color': '#'+rainbow.colourAt(i)}" >
          <div *ngIf="zoomDegree == 1">
            <div>{{symbol.id}}</div>
            <div>{{symbol.lastPrice.value}}</div>
            <div>{{symbol.change}}&#40;{{symbol.changePercent}}&#37;&#41;</div>
          </div>
          <div *ngIf="zoomDegree == 3">
            <div><span>{{symbol.id}}</span> <span class="label">{{symbol.name}}</span></div>
            <div><span>{{symbol.lastPrice.value}}</span> <img style="width:25px;" src="{{getChange(symbol)}}"/></div>
            <div><span>{{symbol.change}}</span> <span class="label">&#40;{{symbol.changePercent}}&#37;&#41;</span></div>
            <div><span>Trades:</span><span class="label">{{symbol.lastTradeQuantity.value}}</span></div>
            <div><span>Best Offer:</span><span class="label">{{symbol.offerPrice.value}}</span><span>&#40;{{symbol.offerSize.value}}&#41;</span></div>
            <div><span>Best Bid:</span> <span class="label">{{symbol.bidPrice.value}}</span><span>&#40;{{symbol.bidSize.value}}&#41;</span></div>
          </div>
          <div class="large-view" *ngIf="zoomDegree == 13">
            <div><span>{{symbol.id}}</span> <span class="label">{{symbol.name}}</span></div>
            <div><span>{{symbol.lastPrice.value}}</span> <img style="width:25px;" src="{{getChange(symbol)}}"/></div>
            <div><span>{{symbol.change}}</span> <span class="label">&#40;{{symbol.changePercent}}&#37;&#41;</span></div>
            <div><span>Trades:</span><span>{{symbol.lastTradeQuantity.value}}</span></div>
            <div><span>Best Offer:</span><span class="label">{{symbol.offerPrice.value}}</span><span>&#40;{{symbol.offerSize.value}}&#41;</span></div>
            <div><span>Best Bid:</span> <span class="label">{{symbol.bidPrice.value}}</span><span>&#40;{{symbol.bidSize.value}}&#41;</span></div>
            <div id="{{symbol.name+i}}" style="height: 300px; width: 100%;"></div>
        </div>
      </div>
    <div class=zoom>
      <a class="zoom-btn" (click) = "zoomIn()"><i class="fa fa-search-plus"></i></a>
      <a class="zoom-btn" (click) = "zoomOut()"><i class="fa fa-search-minus"></i></a>
    </div>
  </div>
