<ul id="webticker" myTicker>
    <li>
        <div>
            <span>MMM</span>
            <span>15.36</span>
            <span>74.69</span>
            <span>0.85</span>
            <span><img height="10" width="10" src="../app/img/up.png"></span>
            <span>+85.00%</span>
        </div>
        <div>
            <span>3M</span>
        </div>
    </li>
    <li>
        <div>
            <span>AXP</span>
            <span>85.36</span>
            <span>14.36</span>
            <span>0.120</span>
            <span><img height="10" width="10" src="../app/img/down.png"></span>
            <span>-12.00%</span>
        </div>
        <div>
            <span>American Express</span>
        </div>
    </li>
    <li>
        <div>
            <span>AAPL</span>
            <span>16.36</span>
            <span>3.5</span>
            <span>0.36</span>
            <span><img height="10" width="10" src="../app/img/down.png"></span>
            <span>-36.00%</span>
        </div>
        <div>
            <span>Apple</span>
        </div>
    </li>
    <li>
        <div>
            <span>BA</span>
            <span>14.36</span>
            <span>1.98</span>
            <span>0.1305</span>
            <span><img height="10" width="10" src="../app/img/up.png"></span>
            <span>+13.05%</span>
        </div>
        <div>
            <span>Boeing</span>
        </div>
    </li>
    <li>
        <div>
            <span>CAT</span>
            <span>25.36</span>
            <span>79.36</span>
            <span>0.451</span>
            <span><img height="10" width="10" src="../app/img/up.png"></span>
            <span>+45.01%</span>
        </div>
        <div>
            <span>Caterpillar</span>
        </div>
    </li>
    <li>
        <div>
            <span>CVX</span>
            <span>34.67</span>
            <span>32.67</span>
            <span>0.104</span>
          <span><img height="10" width="10" src="../app/img/up.png"></span>
            <span>+10.04%</span>
        </div>
        <div>
            <span>Chevron</span>
        </div>
    </li>
    <li>
        <div>
            <span>CSCO</span>
            <span>875.36</span>
            <span>14.69</span>
            <span>0.1425</span>
            <span><img height="10" width="10" src="../app/img/down.png"></span>
            <span>-14.25%</span>
        </div>
        <div>
            <span>Cisco</span>
        </div>
    </li>
    <li>
        <div>
            <span>KO</span>
            <span>483.36</span>
            <span>14.36</span>
            <span>0.52</span>
            <span><img height="10" width="10" src="../app/img/down.png"></span>
            <span>-52.00%</span>
        </div>
        <div>
            <span>Coca-Cola</span>
        </div>
    </li>
    <li>
        <div>
            <span>DIS</span>
            <span>102.25</span>
            <span>47.36</span>
            <span>0.77</span>
            <span><img height="10" width="10" src="../app/img/down.png"></span>
            <span>-77.00%</span>
        </div>
        <div>
            <span>Disney</span>
        </div>
    </li>
    <li>
        <div>
            <span>DD</span>
            <span>14.36</span>
            <span>14.36</span>
            <span>0.4865</span>
            <span><img height="10" width="10" src="../app/img/up.png"></span>
            <span>+48.65%</span>
        </div>
        <div>
            <span>E I du Pont de Nemours and Co</span>
        </div>
    </li>
    <li>
        <div>
            <span>XOM</span>
            <span>45.36</span>
            <span>15.36</span>
            <span>0.98</span>
            <span><img height="10" width="10" src="../app/img/down.png"></span>
            <span>-98.00%</span>
        </div>
        <div>
            <span>Exxon Mobil</span>
        </div>
    </li>
    <li>
        <div>
            <span>GS</span>
            <span>147.00</span>
            <span>128.36</span>
            <span>0.4869</span>
            <span><img height="10" width="10" src="../app/img/up.png"></span>
            <span>+48.69%</span>
        </div>
        <div>
            <span>Goldman Sachs</span>
        </div>
    </li>
    <li>
        <div>
            <span>HD</span>
            <span>45.87</span>
            <span>96.32</span>
            <span>0.852</span>
            <span><img height="10" width="10" src="../app/img/down.png"></span>
            <span>-85.02%</span>
        </div>
        <div>
            <span>Home Depot</span>
        </div>
    </li>
    <li>
        <div>
            <span>IBM</span>
            <span>34.786</span>
            <span>149.25</span>
            <span>0.7451</span>
          <span><img height="10" width="10" src="../app/img/down.png"></span>
            <span>-74.51%</span>
        </div>
        <div>
            <span>IBM</span>
        </div>
    </li>
    <li>
        <div>
            <span>INTC</span>
            <span>852.36</span>
            <span>74.36</span>
            <span>0.140</span>
          <span><img height="10" width="10" src="../app/img/up.png"></span>
            <span>+14.00%</span>
        </div>
        <div>
            <span>Intel</span>
        </div>
    </li>
    <li>
        <div>
            <span>JNJ</span>
            <span>125.36</span>
            <span>17.36</span>
            <span>0.456</span>
          <span><img height="10" width="10" src="../app/img/up.png"></span>
            <span>+45.06%</span>
        </div>
        <div>
            <span>Johnson</span>
        </div>
    </li>
    <li>
        <div>
            <span>JPM</span>
            <span>754.69</span>
            <span>14.69</span>
            <span>0.205</span>
          <span><img height="10" width="10" src="../app/img/up.png"></span>
            <span>+2.05%</span>
        </div>
        <div>
            <span>JPMorgan Chase</span>
        </div>
    </li>
    <li>
        <div>
            <span>MCD</span>
            <span>365.21</span>
            <span>12.36</span>
            <span>0.3476</span>
            <span><img height="10" width="10" src="../app/img/down.png"></span>
            <span>-34.76.00%</span>
        </div>
        <div>
            <span>McDonalds</span>
        </div>
    </li>
    <li>
        <div>
            <span>MRK</span>
            <span>21.34</span>
            <span>34.98</span>
            <span>0.1014</span>
            <span><img height="10" width="10" src="../app/img/down.png"></span>
            <span>-10.14%</span>
        </div>
        <div>
            <span>Merck</span>
        </div>
    </li>
    <li>
        <div>
            <span>MSFT</span>
            <span>45.675</span>
            <span>45.23</span>
            <span>0.8</span>
            <span><img height="10" width="10" src="../app/img/down.png"></span>
            <span>-8.00%</span>
        </div>
        <div>
            <span>Microsoft</span>
        </div>
    </li>
    <li>
        <div>
            <span>NKE</span>
            <span>4.3</span>
            <span>43.45</span>
            <span>0.4</span>
            <span><img height="10" width="10" src="../app/img/up.png"></span>
            <span>+4.00%</span>
        </div>
        <div>
            <span>Nike</span>
        </div>
    </li>
    <li>
        <div>
            <span>PFE</span>
            <span>45.34</span>
            <span>47.36</span>
            <span>0.2</span>
              <span><img height="10" width="10" src="../app/img/up.png"></span>
            <span>+2.00%</span>
        </div>
        <div>
            <span>Pfizer</span>
        </div>
    </li>
    <li>
        <div>
            <span>PG</span>
            <span>10.250</span>
            <span>87.69</span>
            <span>0.786</span>
              <span><img height="10" width="10" src="../app/img/up.png"></span>
            <span>+78.6%</span>
        </div>
        <div>
            <span>Procter & Gamble</span>
        </div>
    </li>
    <li>
        <div>
            <span>TRV</span>
            <span>453.67</span>
            <span>564.58</span>
            <span>0.6560</span>
              <span><img height="10" width="10" src="../app/img/down.png"></span>
            <span>-65.60%</span>
        </div>
        <div>
            <span>Travelers Companies Inc</span>
        </div>
    </li>
    <li>
        <div>
            <span>UTX</span>
            <span>145.34</span>
            <span>45.34</span>
            <span>0.42</span>
              <span><img height="10" width="10" src="../app/img/up.png"></span>
            <span>+42.00%</span>
        </div>
        <div>
            <span>United Technologies</span>
        </div>
    </li>
    <li>
        <div>
            <span>UNH</span>
            <span>453.65</span>
            <span>432.5</span>
            <span>0.44</span>
              <span><img height="10" width="10" src="../app/img/up.png"></span>
            <span>+44.00%</span>
        </div>
        <div>
            <span>UnitedHealth</span>
        </div>
    </li>
    <li>
        <div>
            <span>VZ</span>
            <span>342.34</span>
            <span>34.43</span>
            <span>0.22</span>
              <span><img height="10" width="10" src="../app/img/up.png"></span>
            <span>+22.00%</span>
        </div>
        <div>
            <span>Verizon</span>
        </div>
    </li>
    <li>
        <div>
            <span>V</span>
            <span>7.36</span>
            <span>2.56</span>
            <span>0.45</span>
            <span><img height="10" width="10" src="../app/img/down.png"></span>
            <span>-45.00%</span>
        </div>
        <div>
            <span>Visa</span>
        </div>
    </li>
    <li>
        <div>
            <span>WMT</span>
            <span>25.14</span>
            <span>74.36</span>
            <span>0.25</span>
            <span><img height="10" width="10" src="../app/img/down.png"></span>
            <span>-25.00%</span>
        </div>
        <div>
            <span>Wal-Mart</span>
        </div>
    </li>

</ul>
