<div class="row m-b-15">
    <div class="col-md-12">
        <a href="" class="add" data-toggle="modal" data-target="#watchListModal">
            <i class="fa fa-plus btn btn-lg btn-green btn-circle"></i>Add Watch list
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-3" *ngFor="let watchList of watchlistArr">
        <div class="card">
            <div class="card-header">
                <h4 class="">{{watchList.name}}</h4>
                <div class="action-btn">
                    <button type="button" class="acti-btn red" (click)="deleteWatchlist(watchList)"><i class="fa fa-trash-o"></i> </button>
                    <button type="button"  class="acti-btn blue" (click)="editWatchlist(watchList)"><i class="fa fa-pencil-square-o"></i> </button>
                </div>
            </div>
            <div class="card-block">
                <div *ngFor="let symbols of watchList.symbols">
                    {{symbols.id}} - {{symbols.name}} -{{symbols.lastPrice}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="watchListModal" tabindex="-1" role="dialog" aria-labelledby="watchListModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="watchListModalLabel">Add watchlist</h4>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="addWatchlist()" #watchListForm="ngForm">
                    <div class="form-group">
                        <label for="watchlist-name" class="control-label" >Name</label>
                        <input type="text" #watchlistName class="form-control" id="watchlist-name" placeholder="Enter watchlist name" required minlength="6">
                    </div>
                    <div class="form-group">
                        <label for="watchlist-symbol" class="control-label" >Symbols (comma separated)</label>
                        <input id="watchlist-symbol" [(ngModel)]="selectedSymbols"
                               [typeahead]="watchlistSymbols"
                               (typeaheadOnSelect)="typeaheadOnSelect($event)"
                               [typeaheadOptionField]="'name'"
                               class="form-control" id="watchlist-symbols" placeholder="+ Add symbol" required >
                    </div>
                    <div *ngFor="let symbol of newWatchlistSymbols">
                        <span>{{symbol.name}}</span>
                        <button type="button" class="glyphicon-trash" (click)="deleteSymbols(symbol)"></button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" (click) = "addWatchlist(watchlistName.value,watchListForm.form.valid,watchListForm.form)" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>
